body, html {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #b791b9;
}

.colored-section {
  background-color: #3b3b56;
  color: white;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 1rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  padding: 2rem;
}

.h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
}


.bg {
 background-image: url(images/pdm-front.png);
 height: 100%;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border:0;
 margin: 0;
 padding: 0;
}


h1 {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 5rem;
  text-align: center;
  color: #778296;
  padding-bottom: 4%;
  margin: 0;
}

.container {
  padding-top: 30%;
}

.contact{
  background-color: #b791b9;
  color: White;
  z-index: 1;
}

h2{
  text-align: center;
  padding-top: 4rem;
}

p {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#footer {
  z-index: 1;
}

/* Responsiveness */
@media (max-width: 1028px) {
  h1{
    position: static;
  }
  }
